.profileNav {
    position: absolute;
    top: 0;
    width: 100vw;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locationSection {
margin-left: 12px;
}

.locationSection h2{
font-size: 20px;
margin: 0;
font-weight: 400;
}

.locationSection p {
font-size: 15px;
margin: 0;
}

.locationTitle img {
width: 12px;
height: 6px;
padding-top: 8px;
}

.locationTitle {
display: flex;
justify-content: center;
align-items: center;
gap: 8px;
};

.profileSection {
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;

}

.profileSection img {
    width: 70px;
    height: 70px; 
    object-fit: contain;
    border-radius: 50%;
    border: 3px solid #A074DF;
    object-fit: cover;
    margin-right: 12px;
}